!!! 5
%html
	%head
		%title JavaScript Events
	%body

	%form{ :action => ''}
		%input#barcode
		%input{ :type => 'button', :value => 'Scan'}

	%script{ :src => 'js/libs/jquery/jquery.js'}
	%script{ :src => 'js/events.js'}