!!! 5
%html
	%head
		%title JavaScript Events
		%link{ :href => 'css/main.css', :type => 'text/css', :rel => 'stylesheet'}
	%body

	%form{ :action => ''}
		%input#barcode
		%input{ :type => 'button', :value => 'Scan'}

	%script{ :src => 'js/libs/jquery/jquery.js'}
	%script{ :src => 'js/events.js'}